{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Contact -->
  <section id="contact" class="four">
    <div class="container">

      <header>
        <h2>Contact Me</h2>
      </header>

      <form method="POST" action="#">
        <div class="row contact-container">
          {% csrf_token %}
          {{form.as_p}}
          <div class="col-12">
            <input type="submit" value="Send Message" />
          </div>
        </div>
      </form>

    </div>
  </section>
{% endblock %}
